.mainDiv {
  display: grid;
  grid-template-columns:  1fr 1fr;
  row-gap: 20px;
  margin-top: 13px;
  
}
.nav{
  
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.itemCard {
  display: grid;
  background-color: #F7F5F2;
  grid-template-columns: 1fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 20rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  transition: width 1s;
}

.img {
  height: 100%;
  width: 90%;
  border-right: 1px black solid;
}

.title {
  font-size: 150%;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  line-height:30px; 
  max-height: 20%;
  
  
}

.info {
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
 
  height:35%;
  line-height:20px; 
  overflow:hidden; overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;

}
.imgCard{
  width: 85%;
  height: 90%;
  margin-left: 15px;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 5px grey;
}
.detalisButton{
  padding-top: 12px;
  
 
}
.detalisButton1{
 
  cursor: pointer;
  
 
}
.itemCard:hover{
  height: 22rem;
  width: 32rem;
}



